Django>=3.2.4,<3.3
djangorestframework>=3.12.4,<3.13
psycopg2>=2.8.6,<2.9
djoser==2.3.3
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
oauthlib==3.3.1
pycparser==3.0
PyJWT==2.10.1
python3-openid==3.2.0
requests==2.32.5
requests-oauthlib==2.0.0
social-auth-app-django==5.7.0
social-auth-core==4.8.3